/*Change special module stacking on tiles on your Web Design Page*/
@media only screen and (max-width: 980px){
	.mobile-1_2-1_2-column .et_pb_row > .et_pb_column {
		width:50% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-1_2-1_2-column .et_pb_row > .et_pb_column {
		width:50% !important;
	}
}
@media only screen and (max-width: 980px){
	.mobile-1_4-3_4-column .et_pb_row > .et_pb_column_1_4, .mobile-3_4-1_4-column .et_pb_row > .et_pb_column_1_4 {
		width:25% !important;
	}
	.mobile-1_4-3_4-column .et_pb_row > .et_pb_column_3_4, .mobile-3_4-1_4-column .et_pb_row > .et_pb_column_3_4 {
		width:75% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-1_4-3_4-column .et_pb_row > .et_pb_column_1_4, .phone-3_4-1_4-column .et_pb_row > .et_pb_column_1_4 {
		width:25% !important;
	}
	.phone-1_4-3_4-column .et_pb_row > .et_pb_column_3_4, .phone-3_4-1_4-column .et_pb_row > .et_pb_column_3_4  {
		width:75% !important;
	}
}
@media only screen and (max-width: 980px){
.mobile-1_4-1_2-1-4-column  .et_pb_row > .et_pb_column_1_4, .mobile-1_4-1_4-1_2-column .et_pb_row > .et_pb_column_1_4, .mobile-1_2-1_4-1_4-column .et_pb_row > .et_pb_column_1_4{
		width:25% !important;
	}
	.mobile-1_4-1_2-1-4-column  .et_pb_row > .et_pb_column_1_6, .mobile-1_4-1_4-1_2-column .et_pb_row > .et_pb_column_1_6, .mobile-1_2-1_4-1_4-column .et_pb_row > .et_pb_column_1_6 {
		width:16.66% !important;
	}
  .mobile-1_4-1_2-1-4-column  .et_pb_row > .et_pb_column_1_2, .mobile-1_4-1_4-1_2-column .et_pb_row > .et_pb_column_1_2, .mobile-1_2-1_4-1_4-column .et_pb_row > .et_pb_column_1_2{
		width:50% !important;
	}
}
@media only screen and (max-width: 479px){
.phone-1_4-1_2-1-4-column  .et_pb_row > .et_pb_column_1_4, .phone-1_4-1_4-1_2-column .et_pb_row > .et_pb_column_1_4, .phone-1_2-1_4-1_4-column .et_pb_row > .et_pb_column_1_4{
		width:25% !important;
	}
	.phone-1_4-1_2-1-4-column  .et_pb_row > .et_pb_column_1_6, .phone-1_4-1_4-1_2-column .et_pb_row > .et_pb_column_1_6, .phone-1_2-1_4-1_4-column .et_pb_row > .et_pb_column_1_6 {
		width:16.66% !important;
	}
  .phone-1_4-1_2-1-4-column  .et_pb_row > .et_pb_column_1_2, .phone-1_4-1_4-1_2-column .et_pb_row > .et_pb_column_1_2, .phone-1_2-1_4-1_4-column .et_pb_row > .et_pb_column_1_2{
		width:50% !important;
	}
}

@media only screen and (max-width: 980px){
	.mobile-1_3-2_3-column .et_pb_row > .et_pb_column_1_3, .mobile-2_3-1_3-column .et_pb_row > .et_pb_column_1_3 {
		width:33.33% !important;
	}
	.mobile-1_3-2_3-column .et_pb_row > .et_pb_column_2_3, .mobile-2_3-1_3-column .et_pb_row > .et_pb_column_2_3 {
		width:66.66% !important;
	}
}

@media only screen and (max-width: 980px){
	.mobile-1_3-2_3-column .et_pb_row > .et_pb_column_1_3, .mobile-2_3-1_3-column .et_pb_row > .et_pb_column_1_3 {
		width:33.33% !important;
	}
	.mobile-1_3-2_3-column .et_pb_row > .et_pb_column_2_3, .mobile-2_3-1_3-column .et_pb_row > .et_pb_column_2_3 {
		width:66.66% !important;
	}
}
/*Change regular column stacking on tiles on Web Design Page*/
@media only screen and (max-width: 980px){
	.mobile-2-column> .et_pb_column {
		width:50% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-2-column> .et_pb_column {
		width:50% !important ;
	}
}

@media only screen and (max-width: 980px){
	.mobile-4-column> .et_pb_column {
		width:25% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-4-column> .et_pb_column {
		width:25% !important ;
	}
}
@media only screen and (max-width: 980px){
	.mobile-4-to-2-column> .et_pb_column {
		width:50% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-4-to-2-column> .et_pb_column {
		width:50% !important ;
	}
}
@media only screen and (max-width: 980px){
	.mobile-4-to-3-column> .et_pb_column {
		width:33.33% !important;
	}
  .mobile-4-to-3-column .et_pb_column_1_4:last-child{
		min-width:100% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-4-to-3-column> .et_pb_column {
		width:33.33% !important ;
	}
  .mobile-4-to-3-column .et_pb_column_1_4:last-child{
		min-width:100% !important;
	}
}
@media only screen and (max-width: 980px){
	.mobile-5-to-2-column> .et_pb_column {
		width:50% !important;
	}
	.mobile-5-to-2-column .et_pb_column_1_5:last-child{
		min-width:100% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-5-to-2-column> .et_pb_column {
		width:50%;
	}
	.phone-5-to-2-column .et_pb_column_1_5:last-child{
		min-width:100% !important;
	}
}
@media only screen and (max-width: 980px){
	.mobile-5-column> .et_pb_column {
		width:20% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-5-column> .et_pb_column {
		width:20%;
	}
}
@media only screen and (max-width: 980px){
	.mobile-3-column> .et_pb_column {
		width:33.33% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-3-column> .et_pb_column {
		width:33.33% !important ;
	}
}
@media only screen and (max-width: 980px){
	.mobile-3-to-2-column> .et_pb_column {
		width:50% !important;
	}
	.mobile-3-to-2-column .et_pb_column_1_3:last-child{
		min-width:100% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-3-to-2-column> .et_pb_column {
		width:50% !important;
	}
	.phone-3-to-2-column .et_pb_column_1_3:last-child{
		min-width:100% !important;
	}
}
@media only screen and (max-width: 980px){
	.mobile-6-to-5-column> .et_pb_column {
		width:20% !important;
	}
	.mobile-6-to-5-column .et_pb_column_1_6:last-child{
		min-width:100% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-6-to-5-column> .et_pb_column {
		width:33.33% !important;
	}
	.phone-6-to-5-column .et_pb_column_1_6:last-child{
		min-width:100% !important;
	}
}
@media only screen and (max-width: 980px){
	.mobile-6-to-3-column> .et_pb_column {
		width:33.33% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-6-to-3-column> .et_pb_column {
		width:33.33% !important;
	}
}
/* mobile-6-to-2-column does not apply for tablets**/
@media only screen and (max-width: 479px){
	.mobile-6-to-2-column> .et_pb_column {
		width:50% !important;
	}
}

@media only screen and (max-width: 479px){
	.phone-6-to-2-column> .et_pb_column {
		width:50% !important;
	}
}
@media only screen and (max-width: 980px){
	.mobile-6-column> .et_pb_column {
		width:16.66% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-6-column> .et_pb_column {
		width:16.66% !important;
	}
}
@media only screen and (max-width: 980px){
	.mobile-2_5-3_5-column> .et_pb_column_2_5, .mobile-3_5-2_5-column> .et_pb_column_2_5 {
		width:40% !important;
	}
	.mobile-2_5-3_5-column> .et_pb_column_3_5, .mobile-3_5-2_5-column> .et_pb_column_3_5 {
		width:60% !important ;
	}
}
@media only screen and (max-width: 479px){
	.phone-2_5-3_5-column> .et_pb_column_2_5, .phone-3_5-2_5-column> .et_pb_column_2_5 {
		width:40% !important;
	}
	.phone-2_5-3_5-column> .et_pb_column_3_5, .phone-3_5-2_5-column> .et_pb_column_3_5 {
		width:60% !important ;
	}
}
@media only screen and (max-width: 980px){
	.mobile-1_3-2_3-column> .et_pb_column_1_3, .mobile-2_3-1_3-column> .et_pb_column_1_3 {
		width:33.33% !important;
	}
	.mobile-1_3-2_3-column> .et_pb_column_2_3, .mobile-2_3-1_3-column> .et_pb_column_2_3 {
		width:66.66% !important ;
	}
}
@media only screen and (max-width: 479px){
	.phone-1_3-2_3-column> .et_pb_column_1_3, .phone-2_3-1_3-column> .et_pb_column_1_3 {
		width:33.33% !important;
	}
	.phone-1_3-2_3-column> .et_pb_column_2_3, .phone-2_3-1_3-column> .et_pb_column_2_3 {
		width:66.66% !important ;
	}
}
@media only screen and (max-width: 980px){
	.mobile-1_4-3_4-column> .et_pb_column_1_4, .mobile-3_4-1_4-column> .et_pb_column_1_4 {
		width:25% !important;
	}
	.mobile-1_4-3_4-column> .et_pb_column_3_4, .mobile-3_4-1_4-column> .et_pb_column_3_4 {
		width:75% !important ;
	}
}
@media only screen and (max-width: 479px){
	.phone-1_4-3_4-column> .et_pb_column_1_4, .phone-3_4-1_4-column> .et_pb_column_1_4 {
		width:25% !important;
	}
	.phone-1_4-3_4-column> .et_pb_column_3_4, .phone-3_4-1_4-column> .et_pb_column_3_4 {
		width:75% !important ;
	}
}
@media only screen and (max-width: 980px){
	.mobile-1_4-1_2-1_4-column> .et_pb_column_1_4 {
		width:25% !important;
	}
	.mobile-1_4-1_2-1_4-column> .et_pb_column_1_2 {
		width:50% !important ;
	}
}
@media only screen and (max-width: 479px){
	.phone-1_4-1_2-1_4-column> .et_pb_column_1_4 {
		width:25% !important;
	}
	.phone-1_4-1_2-1_4-column> .et_pb_column_1_2 {
		width:50% !important ;
	}
}
@media only screen and (max-width: 980px){
	.mobile-1_5-3_5-1_5-column> .et_pb_column_1_5 {
		width:20% !important;
	}
	.mobile-1_5-3_5-1_5-column> .et_pb_column_3_5 {
		width:60% !important ;
	}
}
@media only screen and (max-width: 479px){
	.phone-1_5-3_5-1_5-column> .et_pb_column_1_5 {
		width:20% !important;
	}
	.phone-1_5-3_5-1_5-column> .et_pb_column_3_5 {
		width:60% !important ;
	}
}
@media only screen and (max-width: 980px){
	.mobile-1_4-1_4-1_2-column> .et_pb_column_1_4, .mobile-1_2-1_4-1_4-column> .et_pb_column_1_4 {
		width:25% !important;
	}
	.mobile-1_4-1_4-1_2-column> .et_pb_column_1_2, .mobile-1_2-1_4-1_4-column> .et_pb_column_1_2 {
		width:50% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-1_4-1_4-1_2-column> .et_pb_column_1_4, .phone-1_2-1_4-1_4-column> .et_pb_column_1_4 {
		width:25% !important;
	}
	.phone-1_4-1_4-1_2-column> .et_pb_column_1_2, .phone-1_2-1_4-1_4-column> .et_pb_column_1_2 {
		width:50% !important ;
	}
}
@media only screen and (max-width: 980px){
	.mobile-1_6-1_6-1_6-1_2-column> .et_pb_column_1_6, .mobile-1_2-1_6-1_6-1_6-column> .et_pb_column_1_6 {
		width:13.33% !important;
	}
	.mobile-1_6-1_6-1_6-1_2-column> .et_pb_column_1_2, .mobile-1_2-1_6-1_6-1_6-column> .et_pb_column_1_2 {
		width:60% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-1_6-1_6-1_6-1_2-column> .et_pb_column_1_6, .phone-1_2-1_6-1_6-1_6-column> .et_pb_column_1_6 {
		width:13.33% !important;
	}
	.phone-1_6-1_6-1_6-1_2-column> .et_pb_column_1_2, .phone-1_2-1_6-1_6-1_6-column> .et_pb_column_1_2 {
		width:60% !important;
	}
}
@media only screen and (max-width: 980px){
	.mobile-1_5-1_5-3_5-column> .et_pb_column_1_5, .mobile-3_5-1_5-1_5-column> .et_pb_column_1_5 {
		width:20% !important;
	}
	.mobile-1_5-1_5-3_5-column> .et_pb_column_3_5, .mobile-3_5-1_5-1_5-column> .et_pb_column_3_5 {
		width:60% !important ;
	}
}
@media only screen and (max-width: 479px){
	.phone-1_5-1_5-3_5-column> .et_pb_column_1_5, .phone-3_5-1_5-1_5-column> .et_pb_column_1_5 {
		width:20% !important;
	}
	.phone-1_5-1_5-3_5-column> .et_pb_column_3_5, .phone-3_5-1_5-1_5-column> .et_pb_column_3_5 {
		width:60% !important ;
	}
}
/******New***/

/**mobile-1_6-1_6-1_2-to-3-column does not apply to tablets**/

@media only screen and (max-width: 479px){
	.mobile-1_6-1_6-1_2-to-3-column> .et_pb_column_1_6 {
		width:33.33% !important;
	}
	.mobile-1_6-1_6-1_2-to-3-column> .et_pb_column_1_2  {
		width:100% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone-1_6-1_6-1_2-to-3-column> .et_pb_column_1_6 {
		width:33.33% !important;
	}
	.phone-1_6-1_6-1_2-to-3-column> .et_pb_column_1_2  {
		width:100% !important;
	}
}

/**mobile-1_4-1_4-1_2-to-2-column does not apply to tablets**/

@media only screen and (max-width: 479px){
	.mobile-1_4-1_4-1_2-to-2-column> .et_pb_column_1_4 {
		width:50% !important;
	}
	.mobile-1_4-1_4-1_2-to-2-column> .et_pb_column_1_2  {
		width:100% !important;
	}
}
@media only screen and (max-width: 479px){
	.phone1-1_4-1_4-1_2-to-2-column> .et_pb_column_1_4 {
		width:50% !important;
	}
	.phone-1_4-1_4-1_2-to-2-column> .et_pb_column_1_2  {
		width:100% !important;
	}
}